<div class="whisper">

  <img class="gravatar" src="http://cbsnews2.cbsistatic.com/hub/i/r/2002/08/05/da62eade-a642-11e2-a3f0-029118418759/thumbnail/620x350/d58085faadcad60fea4c167fee36a99a/image517488x.jpg">

  <div class="whisper_text">
  <p>Username: <%= whisper.user.username %></p>
  <p><%= whisper.content %></p>
  <p><%= whisper.created_at %></p>

  <% unless current_user == whisper.user %>
    <form method="post" action="/users/<%= current_user.username %>/whisper">
      <input type="hidden" name="whisper" value="<%= whisper.content %>">
      <button class="button" type="submit">Rewhisper</button>
    </form>
  <% end %>
</div>

</div>
