<div class="whisper">

  <img class="gravatar" src="<%= whisper.user.gravatar_url %>">

  <div class="whisper_text">
  <p>Username: <%= whisper.user.username %></p>
  <p><%= whisper.content %></p>
  <p><%= whisper.created_at %></p>

  <% unless current_user == whisper.user %>
    <form method="post" action="/users/<%= current_user.username %>/whisper">
      <input type="hidden" name="whisper" value="<%= whisper.content %>">
      <button class="button" type="submit">Rewhisper</button>
    </form>
  <% end %>
</div>

</div>
